{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="blog" class="s-styles">

        <div class="row narrow section-intro add-bottom text-center">

            <div class="col-twelve tab-full">

                

                <p class="lead"><aside class="pull-quote"><blockquote>{{ blog.quote|safe }}</p></blockquote></aside>
                <p></p>

                <div class="imagecontainer">
                          <img src="{{ blog.image.url }}" class="imagecon"/>

                    <div class="col-twelve tab-full">
                        
                          <p class="lead"><aside class="pull-quote"><blockquote>
                          {{ blog.description|safe }}
                    </p></blockquote></aside>
                <p></p>
                            
                          
                     </div>

                        
                </div>

            </div>

        </div>
{% endblock %}



