{% extends 'base.html' %}
{% load static %}
{% block content %}
 <!-- about
    ================================================== -->
    <section id='about' class="s-about">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h1 class="display-1 display-1--light"><center>Tailored ad-hoc, project delivery and provider in supplying cyber security solutions.</center></h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row about-desc" data-aos="fade-up">
            <div class="col-full">
                <p>
                  <p>At EHJ & SJ Consultancy Ltd we eat, sleep and breathe IT security!</p>

                  <p>Our range of flexible, digital security solutions include security for IT migration programmes, reviews on new or existing infrastructure, cloud-based risk assessments, performing or co-ordinating security testing and management. We also provide services to implement and undertake security DevOps.</p>

                  <p>We aim to demystify your cybersecurity issues by providing support, knowledge and practical hands-on assistance. We provide clients with a 360-degree security viewpoint and proactively encourage them to "shift to the left". This simple methodology ensures that robust security protocols are implemented from the start of any project, a critical step required to reduce risk and identify vulnerabilities.</p>

                  <p>Our services are delivered by experienced industry consultants with over 30 years of combined expertise in delivering security services to support IT and Critical Infrastructure and IT/software development. our personal and inclusive approach allows us to integrate effectively with both onsite teams and 3rd party suppliers.</p>

                  <p>State of the art project management tools support our inclusive project management process and allows us to respond contemporaneously to changes in scope whilst maintaining full visibility across any given project.</p>

                  <h2 class="display-3 display-3--light">Simply put we love what we do!</h2>
                </div>
            </div>
    </section> <!-- end s-about -->


{% endblock  %}

